.circle-input p{
  color: gray;
  /* margin-bottom: 10px; */
  margin-bottom: 0px;
  padding-left: 10px;
}

.circle-input h5{
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 10px;
}



.circle-input{
  height: 300px;
  width: 290px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.circle-input.card{
  margin: 20px 0px;
  margin-top: 0px !important;
  padding: 0px 10px;
}

svg {
  display: none;
  margin-top: 0;
}

.circle-input h4 {
  /* font-size: 2.4em; */
  font-weight: bold !important;
  color: black;
  position: absolute;
  /* top: 33%;
  left: 38%; */
  top:50%;
  left: 40%;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
}



.progress-circle.indefinite .progress {
  stroke: blue;
  stroke-width: 30;
  stroke-dasharray: 754;
}

.progress-circle.indefinite .bg {
  stroke: aqua;
  stroke-width: 20;
}

.progress-circle.indefinite .progress2 {
  stroke: red;
  stroke-width: 40;
  stroke-dasharray: 754;
}


